<!DOCTYPE html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ static_url('materialize/css/materialize.min.css') }}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <header class="row">
        {% block header %}
        <div id="title" class="teal darken-4 white-text">
          <h2 class="z-depth-2 center-align">Tail-anchored Protein Predictor</h2>
        </div>
        {% end %}
    </header>
    <main class="container">
      {% block main %}
      {% end %}
    </main>
    <footer class="page-footer teal lighten-4 teal-text text-darken-4">
      <div class="container">
        {% block footer %}
        <p>Copyright 2015 <a href="http://www.bi.a.u-tokyo.ac.jp">Bilab</a></p>
        {% end %}
      </div>
    </footer>
    <script type="text/javascript" src="{{ static_url('jquery-2.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('materialize/js/materialize.min.js') }}"></script>
    {% block custom_js %}
    {% end %}
  </body>
</html>
