{% extends "base.html" %}

{% block header %}
<div id="title" class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-4 white-text">
      <a href="#" class="brand-logo">TA Protein Predictor</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
</div>
{% end %}

{% block main %}
<form method="post" action="./predict">
  <p>
    TA Protein Predictor is a tool for prediction of Tail-anchored proteins,
    proteins with a single transmembrane domain and lacking signal peptides.
    This predictor and predicts the input sequences are TA proteins or not
    based on Hidden Markov model.
  </p>
  <p>Input your sequences in <a href="http://en.wikipedia.org/wiki/FASTA_format" target="_blank">FASTA format.</a></p>
  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" rows="5" cols="80" id="query" name="query">
      </textarea>
    </div>
  </div>
  <div class="row">
    <button class="col s2 btn waves-effect waves-light" id="predict_button" type="submit" name="Predict">
      Predict
    </button>
    <div class="col s10" id="query_check_status">
      ...
    </div>
  </div>
</form>
<p>The predicted result will be shown in a new page.</p>
<p>The data sets used for training the model can be downloaded: 
  <ul>
    <li><a href="{{ static_url('datasets/ta.fasta') }}">TA set</a></li>
    <li><a href="{{ static_url('datasets/sp.fasta') }}">SP set</a></li>
    <li><a href="{{ static_url('datasets/mp.fasta') }}">MP set</a></li>
    <li><a href="{{ static_url('datasets/no.fasta') }}">NO set</a></li>
  </ul>
<p>

{% end %}

{% block custom_js %}
<script type="text/javascript" src="{{ static_url('index.js') }}"></script>
{% end %}
