{% extends "base.html" %}

{% block header %}
<div id="title" class="navbar-fixed">
  <nav>
    <div class="nav-wrapper teal darken-4 white-text">
      <a href="#" class="brand-logo">TA Protein Predictor</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
</div>
{% end %}

{% block main %}
<form method="post" action="./predict">
  <p>Input your sequences in <a href="http://en.wikipedia.org/wiki/FASTA_format" target="_blank">FASTA format.</a></p>
  <textarea class="materialize-textarea" rows="5" cols="80" name="query"></textarea>
  <button class="btn waves-effect waves-light" type="submit" name="Predict">
    Predict
  </button>
</form>
<p class="flow-text">The predicted result will be shown in a new page.</p>
<p>remaining: 
  <ul>
    <li>page navigation</li>
    <li>cache results</li>
    <li>notification (by email, sns, or browser(websockets))</li>
    <li>graph</li>
  </ul>
</p>
{% end %}
