<!DOCTYPE html>
<html>
  <head>
    <title>Tail-anchored Proterin Predictor</title>
  </head>
  <body
    <header>
      <h1 id="title">Tail-anchored Protein Predictor</h1>
      <h4>Version 0.1</h4>
    </header>
    <main>
      <form method="post" action="/predict">
        <p>Input your sequences in <a href="http://en.wikipedia.org/wiki/FASTA_format" target="_blank">FASTA format.</a></p>
        <textarea rows="5" cols="80" name="query"></textarea>
        <input type="submit" value="Predict" />
      </form>
      <p>The predicted result will be shown in a new page.</p>
    </main>
    <footer>
      <p>Copyright 2015 <a href="http://www.bi.a.u-tokyo.ac.jp">Bilab</a></p>
    </footer>
  </body>
</html>
